<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %>Page</h1>
    <form action="/add" method="post">
        <label for="userName">User Name:</label>
        <input type="text" id="username" name="userName" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>